@import url("https://fonts.googleapis.com/css2?family=Anuphan&display=swap");
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: "Anuphan", sans-serif;
}

img{
    cursor: pointer;
}

a{
    text-decoration: none;
    font-weight: 400;
    font: 1rem;
    color: #18214d;
    text-transform: capitalize;
    font-family: "Anuphan", sans-serif;
}

h3{
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-family: "Anuphan", sans-serif;
}

p{
    font-weight: 400;
    font-size: 1rem;
    font-family: "Anuphan", sans-serif;
}

li{
    list-style: none;
    padding:.8rem;
    font-family: "Anuphan", sans-serif;
}

label{
    font-weight: 400;
    font-size: 1rem;
    color:#333;
    font-family: "Anuphan", sans-serif;
}

input{
    font-weight: 400;
    font-size: 1rem;
    padding:.3rem;
    appearance: textfield;
    border:1px solid #333;
    border-radius:.1rem;
    font-family: "Anuphan", sans-serif;
}

span{
    font-weight: 400;
    font-size: 1rem;
    font-family: "Anuphan", sans-serif;
}

button{
    width:8rem;
    height: 3rem;
    color:#fff;
    font-weight: 400;
    font-size: 1.1rem;
    background-color: #1a4e8f;
    border:none;
    border-radius: .4rem;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
    cursor: pointer;
    font-family: "Anuphan", sans-serif;
}

button:hover{
    background-color: #fff;
    color:#1a4e8f;
}

body{
    max-width:375px;
    font-weight: 400;
    font-family: "Anuphan", sans-serif;
    font-size: 1.2rem;
}

.header{
    width:100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:1rem;
    border-bottom: 1px solid #999;
}

.header h3{
    margin-bottom: 0;
}

.main{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding:1rem;
}

.top,.center,.wallet-section,.deposit-section,.balances-section{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.top-box{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 1px #1a4e8f;
    border-radius: .3rem;
}

.top-box li{
    width:100%;
    cursor: pointer;
}

.top-box li:hover{
    background-color: #1a4e8f;
    color: #fff;
}

.top-box li:hover a{
    color:#fff;
}

.wallet-wrapper{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.center-wrapper,.wallet-box,.deposit-wrapper,.balance-wrapper{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0px 0px 10px 1px #1a4e8f;
    padding:1rem;
    border-radius: .3rem;
    margin-bottom: 1rem;
}

.avatar-upload{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 0;
}

.form{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

label{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: .5rem;
}

form,.edit-section,.edit-section .wrapper,.edit-section .boxes{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.edit-section label{
    font-size:.9rem;
}

.edit-section button{
    margin-top:1rem;
}

label input,label select{
    width:100%;
    height: 2.8rem;
    margin-top: .5rem;
    border-radius: .1rem;
    border: 1px solid #333;
    background-color:#fff;
    outline:none;
    padding:.3rem;
}

.footer{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1rem 0;
}

.address{
    background-color: #1a4e8f;
    margin:1rem 0;
    padding:.3rem .5rem;
    color:#fff; 
}

.transaction-section{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.transaction-wrapper{
    width:100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    box-shadow: 0px 0px 10px 1px #1a4e8f;
    padding:1rem;
    border-radius: .3rem;
}

.transaction-box{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    
}

.title h3{
    font-size: .8rem;
    color:#18214d
}

.answer p{
    width:100%;
    margin-bottom: 1rem;
}

.last-column-wrapper{
    width:100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
}

.balance{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.balance h3{
    margin:0;
}

.balance p{
    color:red;
}


.round,.avatar-box{
    width:20px;
    height: 20px;
    background-color: #18214d;
    border-radius: 50%;
}

.day-wrapper{
    width:auto;
}

.day-wrapper img{
    margin-left: 2rem;
}

.logo{
    width: 60px;
}

.box-section{
    border-radius:.1rem;
    height:100%;
}


.transaction-section{
    overflow: auto;
}

.transaction-span{
    overflow:auto;
}


.transaction-span{
    margin-bottom:.5rem;
}

.transaction-span h3{
    color:red;
    font-weight:400;
    font-size:.9rem;
}

.deposit-span{
    width:80rem;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
    overflow:auto;
    margin-bottom:2rem;
    background-color:#fff;
}

.trans-box{
    width:20rem;
}

.wider-span{
    width:180rem;
}

.trans-box h3{
    color:#222;
    background-color:#ededed;
    border-radius:0rem;
    border-right:2px solid #fff;
    padding:.5rem;
    font-size:.9rem;
}

.trans-box p{
    color:#666;
    font-size:.8rem;
    padding:.5rem;
}

.general-wrapper{
    overflow-x: auto;
    width: 100%;
}

@media screen and (min-width:367px){
    body{
        max-width:100%;
    }
}

@media screen and (min-width:800px){
    .main{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .top{
        width:25%;
    }

    .center{
        width:70%;
    }

    .wallet-section{
        width:35%;
    }

    .last-column-wrapper{
        width:35%;
    }
}

